<h2> Authors </h2>

<ul>
  <% @authors.each do |a| %> 

    <li><%= link_to a.last_name, a %></li>
    
  <% end %>
</ul> 

<% if @authors.count == 0 %>
    <p>There are no authors to show</p>
<% end %>
