<h1 class = "index_header" ><%= @author %></h1>

<% if @author.books.size > 0 %>
<ul class = "index">
  <% @author.books.all.each do |b|%>
    <li>
      <div class = "main_item">
        <%=  link_to b.title, b %>
      </div>
    </li>
  <% end %>
</ul>
<% else %>
  <div> Sorry! This author have any books published. </div>
<% end %>
