<h2><%= @author.first_name %> <%= @author.last_name %></h2>

<% @author.books.all.each do |b|%>
  <ul>

    <li><%=  link_to b.title, b %></li>

  </ul>
<% end %>

<% if @author.books.size== 0 %>
    <p> This author have any books published </p>
<% end %>