<h1 class = "index_header"> My Requests</h1>
<% if @requests.size > 0 %>
  <ul class = "index">
    <% @requests.each do |r| %>
        <li>
          <div class = "main_item"> 
            <%=  link_to r.book.title, r.book %>
          </div>
          <div class = "special"> 
          <% if r.status == 'pending' %> 
            <%= link_to '', [r.user, r], method: :delete , class: 'cancel' %> 
          <% end %>
          <%=  r.status %>
        </li>
    <% end %>
  </ul>
<% else %>
  <div> You have no requests yet. </div>
<% end %>
