<h2> My Requests</h2>


<% if @requests.size > 0 %>

  <% @requests.each do |r| %>
    <ul>

      <li>
        <%=  link_to r.book.title, r.book %>
        - <%=  r.status %>
        <% if r.status == 'pending' %> 
          - <%= link_to 'Cancel Request', [r.user, r], method: :delete %> 
        <% end %>
      </li>
    </ul>
  <% end %>

<% else %>

    <div> You have no requests yet. </div>

<% end %>
